body {
    background-color: #EEE;
}

#container {
    background-color: white;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    clear: both;
    padding: 5px;
    background-color: red;
    color: white;
    text-align: left;
}

#main {
    background-color: white;
    text-align: left;
}

#categoria {
    margin-top: 50px;
    text-align: left;
    margin-left: 264px;
}

#footer {
    margin-top: 100px;
    clear: both;
    padding: 10px;
    background-color: #999999;
    color: white;
    text-align: left;
}
